$primary-color: #6F82FF;
$secondary-color: #98B0FB;
$text-color: #000;
$light-color: #fff;
$gray-color: #515151;
$light-gray: #ccc;
$green-color: #68DBA0;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
);
$main-font: "Roboto", "sans-serif";
